<!-- Button trigger modal -->
<span  (click)="openModal()">
  <i class="bi bi-pencil-fill" style="color:green"></i>
</span>
  
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
        <div class="modal-content">
              <div class="modal-header">
                    <h4 class="modal-title">Update Category</h4>
                    <button type="button" class="btn btn-default" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
                  </div>
              <div class="modal-body">
                  <template *ngTemplateOutlet="formul"></template>
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="closeModal()" >Close</button>
              </div>
     </div>
  </div>
</div>

<ng-template #formul>
  <form>
  
    <div class="form-group">
        <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Nom Catégorie" id="nomcategorie" name="nomcategorie" [(ngModel)]="category().nomcategorie">
        </div>
      </div>

    <div class="form-group">
        <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Image Catégorie" id="imagecategorie" name="imagecategorie"  [(ngModel)]="category().imagecategorie">
        </div>
      </div>
     
    <div class="form-group">
      <div class="col-sm-4">
        <div>
          
          <button type="submit" class="btn btn-success" (click)="modifCategory()">Modifier</button>  
        
        </div>  
      </div>
    </div>

  </form>

</ng-template>

